<%- include('./partials/head.ejs') %>

<body>
    <div class="container">
        <section class="header">
            <h2>Hi! Frederick</h2>
            <button class="btn logout">Logout</button>
        </section>
        <section class="details">
            <div class="div">
                <h4>Time: 11:25pm</h3>
                <p>Number of tasks: 1</p>
            </div>
            <div class="multiple-btn">
                <button class="btn all">All</button>
                <button class="btn active">Active</button>
                <button class="btn completed">Completed</button>
            </div>
        </section>
        <section class="add-task">
            <input type="text" name="" id="" placeholder="Add a new task">
        </section>
        <section class="all-tasks">
            <ul>
                <!--
                <li class="completed">
                    <input type="checkbox" name="" id="">
                    Do something.. 
                    <a class="delete" href="">
                        <box-icon name='trash-alt' type='solid' ></box-icon>
                    </a>
                    <button class="edit">
                        <box-icon name='edit-alt' ></box-icon>
                    </button>
                
                </li>
                -->
                <% todo.forEach(tasks => { %>
                    <li class="<% if (tasks.isCompleted === true) { %>
                        completed <% } %> ">
                        <%=tasks.tasks%>
                        <a class="delete" href="">
                            <box-icon name='trash-alt' type='solid' ></box-icon>
                        </a>
                        <button class="edit">
                            <box-icon name='edit-alt' ></box-icon>
                        </button>
                    </li>
                <% }); %>

                <li>
                    <input type="checkbox" name="" id="">
                    Do something.. 
                    <a href="">
                        <box-icon name='trash-alt' type='solid' ></box-icon>
                    </a>
                </li>
                <li>
                    <input type="checkbox" name="" id="">
                    Do something.. 
                    <a href="">
                        <box-icon name='trash-alt' type='solid' ></box-icon>
                    </a>
                </li>
                <li>
                    <input type="checkbox" name="" id="">
                    Do something.. 
                    <a href="">
                        <box-icon name='trash-alt' type='solid' ></box-icon>
                    </a>
                </li>
                <li>
                    <input type="checkbox" name="" id="">
                    Do something.. 
                    <a href="">
                        <box-icon name='trash-alt' type='solid' ></box-icon>
                    </a>
                </li>

            </ul>
        </section>
    </div>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>