<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5 - Login & Register</title>
    <link rel="stylesheet" href="../css/login-styles.css">
</head>
<body>
    
    <div class="container">
        <section class="header">
            <h2>Welcome User!</h2>

            <p>Please login to your account</p>
        </section>
            <section class="msg">
                <% if (err != 'undefined'){ %>
                    <!-- TO:DO make a flash message for errors -->
            </section>

        <form action="#" method="post">
            <label for="login-email">Email</label>
            <input type="email" name="" id="login-email"><br>
            <label for="login-pass">Password</label>
            <input type="password" name="" id="login-email"><br>
            <p>Don't have an account? <a href="/user/register">Click Here</a></p>
            <button>Sign In!</button>
        </form>
        
        

    </div>


</body>
</html>