<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5 - Login & Register</title>
    <link rel="stylesheet" href="../css/login-styles.css">
</head>
<body>
    
    <div class="container">
        <section class="header">
            <h2>Register</h2>

            <p>Fill out your details</p>
        </section>
        <!-- TO:DO make a flash message for errors -->
        <form action="/user/register" method="post">
            <label for="register-user">Username</label>
            <input type="text" name="username" id="register-user"><br>

            <label for="register-email">Email</label>
            <input type="email" name="email" id="register-email"><br>

            <label for="register-pass">Password</label>
            <input type="password" name="pass" id="register-pass"><br>

            <label for="register-confirm-pass">Confirm Password</label>
            <input type="password" name="confirmpass" id="register-confirm-pass"><br>
            <p>Have an account? <a href="/user/login">Click Here</a></p>
            <button>Sign In!</button>
        </form>
        
    
    </div>




    

</body>
</html>